h4, p{
    padding: 0;
    margin: 0;
    line-height: 1.3;
    font-weight: 600;
}

p{
    color: gray;
    font-size: 0.7rem;
}

body{
    background: #eee;
    box-sizing: border-box
}

.container{
    width: 100%;
    height: 100%;
    background-color: #fff;
    margin: 0 auto;
}

section{
    position: fixed;
    text-align: center;
    width: 100%;
    padding-top: 56.25%;
    background-color: #fff;
}

iframe{position: absolute;
    top: 0;
    left: 0;
}
.logo{
 width: 120px;
 padding: 10px;
}

main{
    padding: 58% 18px 100px;
}

article{
    display: flex;
    align-items: center;
    padding: 8px 12px;
    border: 2px solid white;
    border-radius: 8px;
    margin: 0 auto;
}

article:hover{
    border: 2px solid #ff9999;
}

.thumb{
    height: 70px;
}

.details{
    padding: 8px 22px;
}

.srch-box{overflow: hidden; position: fixed; bottom:0; width: 100%;box-sizing: border-box;
padding:5px; background:#eee;
}
input{ float: left; width: 80%;padding: 2px;}
button{float: left;   }